@page "/hangfirePage"
@using BlazorServerTest.BLL.Services.Interfaces
@using BlazorServerTest.Data.Entities
@inject IBackgroundService BackgroundService
@inject NavigationManager NavigationManager

<button class="btn-primary" @onclick="AddJobsHandler">Add jobs</button>
<button class="btn-danger" @onclick="RemoveJobsHandler">Remove jobs</button>

<iframe src="/hangfire" style="width:90%;height:1200px;border:none;" />

@code {
    private List<IngredientEntity> forecasts;

    protected override async  Task OnInitializedAsync()
    {
        //forecasts = (await ForecastService.GetForecastAsync(String.Empty)).ToList();
    }

    private async Task AddJobsHandler()
    {
        await BackgroundService.AddJobs();
        StateHasChanged();
    }

    private async Task RemoveJobsHandler()
    {
        await BackgroundService.RemoveJobs();
        StateHasChanged();
    }
}